Adafruit-DHT==1.4.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
darkskylib==0.3.91
Flask==1.1.1
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
packaging==19.0
pip-review==1.0
pyparsing==2.4.0
python-yr==1.4.5
requests==2.22.0
RPi.GPIO==0.6.5
six==1.12.0
update==0.4.4
urllib3==1.25.8
uWSGI==2.0.18
Werkzeug==0.15.4
xmltodict==0.12.0
